html{
    scroll-behavior: smooth;
}




body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100vh;
}

a{
    text-decoration: none;
    transition: all linear 0.5s;
    color: white;
}

/*
h1{
   font-size: 400px;
   line-height: 180px;
   color: rgba(255, 255, 255, 0.896);
}*/


.bodyindex{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(29, 29, 228);
}

.menu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 230px;
    }

h3{
    font-size: 40px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.786);  
}






/*links homepage*/
   .buttons{
    font-size: 25px;
}
    .day{
    position: absolute;
    /*left: 350px;*/
    width: 350px;
    margin-right: 350px;
    transition:all 0.5s;
    }



.flexbox{
    height: 240px;
    width: 100%;
    background-color: #dfdba100;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    position: fixed;
    margin: 0;
    padding: 5px;
}


/*Menu weiss*/
    .flexcontainer{
        top: 10px;
        /*position: fixed;*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        /*width: max-content;*/
        line-height: 20px;
    }


    /*Titel IDA*/
    .flexcontainerright{
        /*position: fixed;*/
        /*display: flex;*/
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        /*width: max-content;*/
        overflow-wrap: break-word;
        text-align: right;
        height: 220px;
        width: 180px;
        background:rgb(29, 29, 228);
        margin-right: 25px;
        padding: 20px;
    }

    .flexcontainerright:hover{
        background: linear-gradient(135deg,#660c96fd, rgb(29, 82, 228), #660c96fd);
        cursor: pointer;
        background-repeat: no-repeat;
        transition: 0.5s;
        /*background-position: 100% 100%;*/
        /*border: rgb(29, 29, 228);*/
       /*border-width: 5px;*/
        box-shadow: inset 3px 3px 3px 10px rgb(29, 29, 228);
    }

    .h1{
        text-align: center;
        align-items: center;
    }


    /*ID*/
    #tiktok{
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 10px;
        left: 450px;
        text-align: center;
        align-items: center;
        /*height: 100px;*/
    }

    #laurie{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(0, 0, 0);
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 200px;
        left: 450px;
        text-align: center;
        align-items: center;
    }

    #schulweg{
        font-family: Arial, Helvetica, sans-serif;
        background-color:black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 360px;
        left: 450px;
        text-align: center;
        align-items: center;
    }

    #flüssiges{
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 520px;
        left: 450px;
        text-align: center;
        align-items: center;
    }

    #exflexbox{
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 680px;
        left: 450px;
        text-align: center;
        align-items: center;
    }

    #flexboxfood{
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 840px;
        left: 450px;
        text-align: center;
        align-items: center;
    }

    #klickmich{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(0, 0, 0);
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 1000px;
        left: 450px;
        text-align: center;
        align-items: center;
    }

    #triangle{
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 1160px;
        left: 450px;
        text-align: center;
        align-items: center;
    }

    #history{
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 1320px;
        left: 450px;
        text-align: center;
        align-items: center;
    }

    #facts{
        font-family: Arial, Helvetica, sans-serif;
        background-color:black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 1480px;
        left: 450px;
        text-align: center;
        align-items: center;
    }

    #mousemove{
        font-family: Arial, Helvetica, sans-serif;
        background-color:black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 1640px;
        left: 450px;
        text-align: center;
        align-items: center;
    }






    /*ID hover*/
    #tiktok:hover {
        color: #33f;
        background-color: rgb(133, 82, 15);
        transform: perspective(800px) scale(1.1);
        transform-origin: center center;
    }

    #laurie:hover {
        color: #33f;
        background-color: rgb(247, 50, 6);
        transform: rotate(20deg)
		perspective(1000px);
	    transform-origin: center center;
    }

    #schulweg:hover {
        color: #33f;
        background-color: #dfdba1;
        transform: perspective(800px) scale(1.1);
        transform-origin: center center;
    }

    #flüssiges:hover {
        color: #33f;
        background-color: #3d88de;
        transform: rotate(-20deg)
		perspective(1000px);
	    transform-origin: center center;
    }

    #exflexbox:hover {
        color: #33f;
        background-color:rgb(240, 139, 7);
        transform: perspective(800px) scale(1.1);
        transform-origin: center center;
    }

    #flexboxfood:hover {
        color: #33f;
        background-color:rgb(68, 218, 171);
        transform: rotate(20deg)
		perspective(1000px);
	    transform-origin: center center;
    }

    #klickmich:hover {
        color: #33f;
        background-color: rgb(222, 124, 175);
        transform: perspective(800px) scale(1.1);
        transform-origin: center center;
    }

    #triangle:hover {
        color: #33f;
        background-color:rgb(245, 7, 205);
        transform: rotate(-20deg)
		perspective(1000px);
	    transform-origin: center center;
    }

    #history:hover {
        color: #33f;
        background-color: rgb(0, 255, 255);
        transform: perspective(800px) scale(1.1);
        transform-origin: center center;
    }

    #facts:hover {
        color: #33f;
        background-color: rgb(235, 247, 5);
        transform: rotate(20deg)
		perspective(1000px);
	    transform-origin: center center;
    }

    #mousemove:hover {
        color: #33f;
        background-color:rgb(102, 12, 150);
        transform: perspective(800px) scale(1.1);
        transform-origin: center center;
    }



    .day:hover{
        cursor: pointer;
    }



    #tiktok:hover a{
        color: #33f;
    }

    #laurie:hover a{
        color: #33f;
    }

    #schulweg:hover a{
        color: #33f;
    }

    #flüssiges:hover a{
        color: #33f;
    }

    #exflexbox:hover a{
        color: #33f;
    }

    #flexboxfood:hover a{
        color: #33f;
    }

    #klickmich:hover a{
        color: #33f;
    }

    #triangle:hover a{
        color: #33f;
    }

    #history:hover a{
        color: #33f;
    }

    #facts:hover a{
        color: #33f;
    }

    #mousemove:hover a{
        color: #33f;
    }