html{
    scroll-behavior: smooth;
}




body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100vh;
}

a{
    text-decoration: none;
    transition: all linear 1s;
    color: white;
}





.bodyindex{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(29, 29, 228);
}

.menu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 230px;
    }
    
    .day{
        position: absolute;
        left: 350px;
        width: 350px;
        margin-right: 350px;
        transition:all 1s;
    }

    .tiktok{
        background: rgb(121, 121, 212);
    }


    .flexcontainer{
        position: fixed;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: max-content;
        line-height: 20px;
    }




    #tiktok{
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 10px;
        left: 500px;
        text-align: center;
        align-items: center;
        height: 80px;
    }

    #laurie{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(0, 0, 0);
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 150px;
        left: 500px;
        text-align: center;
        align-items: center;
    }

    #schulweg{
        font-family: Arial, Helvetica, sans-serif;
        background-color:black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 300px;
        left: 500px;
        text-align: center;
        align-items: center;
    }

    #flüssiges{
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 450px;
        left: 500px;
        text-align: center;
        align-items: center;
    }

    #exflexbox{
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 600px;
        left: 500px;
        text-align: center;
        align-items: center;
    }

    #flexboxfood{
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 750px;
        left: 500px;
        text-align: center;
        align-items: center;
    }

    #klickmich{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(0, 0, 0);
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 950px;
        left: 500px;
        text-align: center;
        align-items: center;
    }

    #triangle{
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 1100px;
        left: 500px;
        text-align: center;
        align-items: center;
    }

    #history{
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 1250px;
        left: 500px;
        text-align: center;
        align-items: center;
    }

    #facts{
        font-family: Arial, Helvetica, sans-serif;
        background-color:black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 1400px;
        left: 500px;
        text-align: center;
        align-items: center;
    }

    #mousemove{
        font-family: Arial, Helvetica, sans-serif;
        background-color:black;
        padding: 0.5rem; 
        margin-bottom: 1rem; 
        top: 1600px;
        left: 500px;
        text-align: center;
        align-items: center;
    }







    #tiktok:hover {
        color: #33f;
        background-color: rgb(133, 82, 15);
        transform: perspective(800px) scale(1.1);
        transform-origin: center center;
    }

    #laurie:hover {
        color: #33f;
        background-color: rgb(247, 50, 6);
        transform: rotate(20deg)
		perspective(1000px);
	    transform-origin: center center;
    }

    #schulweg:hover {
        color: #33f;
        background-color: #dfdba1;
        transform: perspective(800px) scale(1.1);
        transform-origin: center center;
    }

    #flüssiges:hover {
        color: #33f;
        background-color: #3d88de;
        transform: rotate(-20deg)
		perspective(1000px);
	    transform-origin: center center;
    }

    #exflexbox:hover {
        color: #33f;
        background-color:rgb(240, 139, 7);
        transform: perspective(800px) scale(1.1);
        transform-origin: center center;
    }

    #flexboxfood:hover {
        color: #33f;
        background-color:rgb(68, 218, 171);
        transform: rotate(20deg)
		perspective(1000px);
	    transform-origin: center center;
    }

    #klickmich:hover {
        color: #33f;
        background-color: rgb(222, 124, 175);
        transform: perspective(800px) scale(1.1);
        transform-origin: center center;
    }

    #triangle:hover {
        color: #33f;
        background-color:rgb(245, 7, 205);
        transform: rotate(-20deg)
		perspective(1000px);
	    transform-origin: center center;
    }

    #history:hover {
        color: #33f;
        background-color: rgb(0, 255, 255);
        transform: perspective(800px) scale(1.1);
        transform-origin: center center;
    }

    #facts:hover {
        color: #33f;
        background-color: rgb(235, 247, 5);
        transform: rotate(20deg)
		perspective(1000px);
	    transform-origin: center center;
    }

    #mousemove:hover {
        color: #33f;
        background-color:rgb(102, 12, 150);
        transform: perspective(800px) scale(1.1);
        transform-origin: center center;
    }





    .day:hover{
        cursor: pointer;
    }


   .buttons{
       font-size: 30px;
   }