@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');




body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 7vw;
    padding-top: 0;
    padding-left: 1vw;
    margin-top: 0;
    margin-bottom: 0;
}

.nav{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items: center;
    position:fixed;
    font-family: 'Permanent Marker', cursive;
    width: 98%;
    padding-left: 0.5vw;
}


.a{
   text-decoration: none; 
   font-family: 'Permanent Marker', cursive;
   font-size: 2vw;
  }

h1:hover{
    cursor: pointer;
	transform: perspective(700px)
		scale(1.1);
	transform-origin: center center;
    transition: all 1.5s ease;
    background-color: blueviolet;
    color: orange;
}


a:hover{
    cursor: pointer;
    transform: perspective(700px)
    scale(1.1);
    transform-origin: center center;
    transition: all 2s ease;
    background-color: blueviolet;
    color: orange;
}

.bodyindex{
    background-color: rgb(201, 199, 199);;
}


.menurow{
    position:relative;
    top: 150px;
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width:max-content;
    height: 600px;
    background-color: aliceblue;
    overflow: hidden;
}

.backgroundimageLaurie{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery{
    overflow: hidden;
    flex-direction: row;
}

.overlaydescription{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: ghostwhite;
}

.container:hover .overlaydescription{
    opacity: 1;
}

.container{
    position: relative;
}

.textdescription{
font-size: 3vw;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: left;
color: black;
}


.image{
    display: block;
    width: 100%;
    height: auto;
}

.introduction{
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
    columns: 2;
    column-gap: 1.5vw;
    width: 50%;
    word-break: normal;
    padding-top: 10cm;
    text-align: justify;
}


.comment{
    font-family: 'Permanent Marker', cursive;
    font-size: 2vw;
    margin-top: 200px;
}

.pkritik{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
    columns: 2;
    column-gap: 1.5vw;
    width: 50%;
}






    /*navigation side*/
    .navbar{
        position: fixed;
        top: 370px;
        right: -300px;
        width: 300px;
        height: 480px;
        background-color: rgb(0, 0, 0);
        text-align: left;
        transition: 0.800s ease;
        margin-left: 10px;
        z-index: 10;
    }

    .navbar > .side-nav{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .nav-item{
        display: flex;
    }


.nav-item > .nav-link{
text-decoration: none;
color: white;
font-size: 1.1em;
padding: 0.2em;
flex: 1;
margin-left: 45px;
}

.nav-item > .nav-link:hover{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(51, 242, 239);
    cursor: pointer;
}

.toggle-collapse{
    float: left;
    margin-left: -5em;
    margin-top: .5em;
    content: "";
    outline: inherit;
    border: 0px;
    background: transparent;
}

.toggle-icon,
.toggle-icon::before,
.toggle-icon::after{
    content: "";
    width: 30px;
    height: 3px;
    position: fixed;
    float: left;
    background-color: rgb(0, 0, 0);
    border-radius: 2em;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.800s ease;
    margin-top: 0.8em;
}

.toggle-icon::before{
    position: absolute;
    left: -2px;
    margin-top: -0.8em;
}

.toggle-item::after{
    position: absolute;
    left: -2px;
    margin-top: 0.6em;
    width: 20px;
}

.toggle-icon{
    width: 15px;   
}

.show .toggle-icon::after{
    width: 30px;
}

.show .toggle-icon{
    width: 30px;
}

.nav-item > .site-name{
    text-decoration: none;
    padding: 1.3em;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.nav-item:last-child > .nav-link i{
    padding: .5em;
}

.nav-item:hover:last-child > .nav-link{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
}

span{
    margin: 0;
}

span:hover{
    cursor: pointer;
}