@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');




body{
    font-family: 'Open Sans', sans-serif;
}

a:hover{
    cursor: pointer;
}

.navmenu{
    font-family: 'Permanent Marker', cursive;
}

.bodyindex{
    background-color: rgb(169, 169, 169);;
}



.menurow{
    position:absolute;
    top: 350px;
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width:max-content;
    height: 600px;
    background-color: aliceblue;
    overflow: hidden;
}

.backgroundimageLaurie{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery{
    overflow: hidden;
    flex-direction: row;
}