:root{
    --red: rgb(255, 51, 51);
    --green: rgb(51, 255, 92);
    --blue: rgb(51, 85, 255);
    --purple: rgb(119, 51, 255);
    --pink: rgb(255, 51, 221);
    --cyan: rgb(10, 235, 255);
    --yellow: rgb(255, 252, 51);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --background: rgb(222, 197, 197);
}


body{
    margin: 0;
    padding: 0;
}


.red-bg{
    background-color: var(--red);
    /*align-self: flex-start;*/
    order: 2;
    /*flex-grow: 1;*/
}

.green-bg{
    background-color: var(--green);
    order: 0;
    /*flex-grow: 0;*/
   /* align-self:flex-end;*/
}

.blue-bg{
    background-color: var(--blue);
    order: 0;
    flex-grow: 5;
}

.purple-bg{
    background-color: var(--purple);
}

.pink-bg{
    background-color: var(--pink);
}

.cyan-bg{
    background-color: var(--cyan);
}

.yellow-bg{
    background-color: var(--yellow);
    order: 3;
    /*flex-grow: 3; */
}

.white-bg{
    background-color: var(--white);
    flex-grow: 5;
}

.black-bg{
    background-color: var(--black);
}




.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    /*align-items = flext-start, center usw*/
    /*align-content = space-between,around,evenly / align-items wird überschrieben / mehrere Elemente auf verschiedenen Zeilen*/
}


.flex-item{
width: 200px;
height: 200px;
}

