html, body {
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}





h1{
    font-size: 8vw;
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
}


.flex-container{
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: stretch;
}


.audio{
    margin: 2vw;
}

.btn {
    position: relative;
    display: block;
    padding: 5x;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: rgba(10, 4, 12, 0);
    transition: background-color .3s;
    margin-bottom: 0.5rem;
    font-size: 2vw;
}

.btncoffee{
    position: relative;
    display: block;
    padding: 5px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: rgba(10, 4, 12, 0);
    color: #623007;
    transition: background-color .3s;
    margin-bottom: 0.5rem;
    font-size: 3vw;
}

.btnwater{
    position: relative;
    display: block;
    padding: 5px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: rgba(10, 4, 12, 0);
    color: #3d88de;
    transition: background-color .3s;
    margin-bottom: 0.5rem;
    font-size: 3vw;
}

.btnmate{
    position: relative;
    display: block;
    padding: 5px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: rgba(10, 4, 12, 0);
    color: #e6e273;
    transition: background-color .3s;
    margin-bottom: 0.5rem;
    font-size: 3vw;
}


.btn.playstate {
    background-color: #ecf0f1;
    color: rgba(10, 4, 12, 0.85);
}


.audio{
    padding-bottom: 1vw;
}


h1:hover{
    cursor: pointer;
}

p:hover{
    cursor: pointer;
}

.p--brown{
    color: #623007;
    font-size: 3vw;
    padding-bottom: 0;
}

#fluessig:hover{
    color: #623007;
}







    /*navigation side*/
    .navbar{
        position: fixed;
        top: 370px;
        right: -300px;
        width: 300px;
        height: 430px;
        background-color: rgb(0, 0, 0);
        text-align: left;
        transition: 0.800s ease;
        margin-left: 10px;
    }

    .navbar > .side-nav{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .nav-item{
        display: flex;
    }


.nav-item > .nav-link{
text-decoration: none;
color: white;
font-size: 1.1em;
padding: 0.2em;
flex: 1;
margin-left: 45px;
}

.nav-item > .nav-link:hover{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(51, 242, 239);
    cursor: pointer;
}

.toggle-collapse{
    float: left;
    margin-left: -5em;
    margin-top: .5em;
    content: "";
    outline: inherit;
    border: 0px;
    background: transparent;
}

.toggle-icon,
.toggle-icon::before,
.toggle-icon::after{
    content: "";
    width: 30px;
    height: 3px;
    position: fixed;
    float: left;
    background-color: rgb(0, 0, 0);
    border-radius: 2em;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.800s ease;
    margin-top: 0.8em;
}

.toggle-icon::before{
    position: absolute;
    left: -2px;
    margin-top: -0.8em;
}

.toggle-item::after{
    position: absolute;
    left: -2px;
    margin-top: 0.6em;
    width: 20px;
}

.toggle-icon{
    width: 15px;   
}

.show .toggle-icon::after{
    width: 30px;
}

.show .toggle-icon{
    width: 30px;
}

.nav-item > .site-name{
    text-decoration: none;
    padding: 1.3em;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.nav-item:last-child > .nav-link i{
    padding: .5em;
}

.nav-item:hover:last-child > .nav-link{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
}

span:hover{
    cursor: pointer;
}