html, body {
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}





h1{
    font-size: 8vw;
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
}


.flex-container{
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: stretch;
}


.audio{
    margin: 2vw;
}

.btn {
    position: relative;
    display: block;
    padding: 5x;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: rgba(10, 4, 12, 0);
    transition: background-color .3s;
    margin-bottom: 0.5rem;
    font-size: 2vw;
}

.btncoffee{
    position: relative;
    display: block;
    padding: 5px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: rgba(10, 4, 12, 0);
    color: #623007;
    transition: background-color .3s;
    margin-bottom: 0.5rem;
    font-size: 3vw;
}

.btnwater{
    position: relative;
    display: block;
    padding: 5px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: rgba(10, 4, 12, 0);
    color: #3d88de;
    transition: background-color .3s;
    margin-bottom: 0.5rem;
    font-size: 3vw;
}

.btnmate{
    position: relative;
    display: block;
    padding: 5px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: rgba(10, 4, 12, 0);
    color: #e6e273;
    transition: background-color .3s;
    margin-bottom: 0.5rem;
    font-size: 3vw;
}


.btn.playstate {
    background-color: #ecf0f1;
    color: rgba(10, 4, 12, 0.85);
}


.audio{
    padding-bottom: 1vw;
}


h1:hover{
    cursor: pointer;
}

p:hover{
    cursor: pointer;
}

.p--brown{
    color: #623007;
    font-size: 3vw;
    padding-bottom: 0;
}