 /*
Todo (Step by Step) -- ohne Styles zu löschen
1. Mache alle p Tags grün
2. Mache bloss das p mit der Klasse site-slogan blau  
3. Mache bloss das h2 im article rot
4. Mache alle p in der ID #inhaltsbereich grau 
5. Challenge Mache alle ersten p's in einem Container (article) rot 
*/
 

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

 p {
     color: green;
 }

 .pblue{
color: blue;
 }

 .h2{
     color: red;
 }

.pgray{
    color: gray;
}

 .pred{
     color: red;
 }

.flex-container{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.img{
    padding-right: 3px;
    size: 8vw;
}